<configuration>
	<appSettings>
		<add key="url" value="http://automationpractice.com/index.php"/>
		<add key="browser" value="chrome"/>
		<add key="TestDataSheetPath" value="C:\Users\dpawar\source\repos\Selenium_Nunit_Project\ClassLibrary1\Resources\SignUp_TestData.xlsx"/>
	</appSettings>
</configuration>